
@{
    ViewBag.Title = "AddNewRestaurant";
}

<h2>AddNewRestaurant</h2>

<form action="" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" /><br />
    <input type="text" name="Location" class="form-control" placeholder="Location" /><br />
    <input type="text" name="Phone" class="form-control" placeholder="+880" /><br />
    <input type="password" name="Password" class="form-control" placeholder="Password" /><br />
    <input type="submit" class="btn btn-info" value="Add" />
</form>