
@{
    ViewBag.Title = "AddNewRestaurant";
}

<h2>Add New Restaurant</h2>

<center>
    <h1>Zero Hungers</h1><br />
    <fieldset>
        <h4>Register</h4>
        <form action="" method="post">
            <input type="text" name="Name" class="form-control" placeholder=" Restaurant Name" /><br />
            <input type="text" name="Location" class="form-control" placeholder="Location" /><br />
            <input type="text" name="Phone" class="form-control" placeholder="+880" /><br />
            <input type="password" name="Password" class="form-control" placeholder="Password" /><br />
            <input type="submit" class="btn btn-info" value="Signup" />
        </form>
    </fieldset>

    <br />
    Already have an account? <a href="/Login/Login" class="btn btn-warning">Login</a>
</center>