
@{
    ViewBag.Title = "PlaceNewRequest";
}

<h2>Create New Request</h2>


<form action="" method="post">
    <input type="text" name="FoodName" class="form-control" placeholder="Food Name" />
    <input type="text" name="FoodAmount" class="form-control" placeholder="Food Amount" />
    <br />
   
    <input type="submit" class="btn btn-info" value="Confirm" />
</form>